# ROS 2 build artifacts
build/
install/
log/

# Python cache
**/__pycache__/
.pytest_cache/
*.pyc
*.pyo
*.pyd

# Colcon metadata
.colcon/

#project specific
docs/
/eval/results/latest
/eval/results/metrics

#paper
paper/
